# dependencies (bun install)
node_modules

# output
out
dist
docs/api
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Node environment variable files
.env
.env*
!.env.example
!.env.test

# caches
.cache
*.tsbuildinfo

# Finder (MacOS) folder config
.DS_Store

# Temporary files used by agents
.scratch/**
.scratch/*
!.scratch/AGENTS.md
